name: ecr_docker_deployment
on:
  push:
    branches:
      - main  # This is the change
jobs:
  docker_cicd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: deploymenttutorial
          IMAGE_TAG: deploymenttutorialimagetag
        run: |
          docker build -t $REGISTRY/$REPOSITORY:deploymenttutorialimagetag .
          docker push $REGISTRY/$REPOSITORY:deploymenttutorialimagetag
          aws lambda update-function-code \
            --function-name deploymentTutorial \
            --image-uri $REGISTRY/$REPOSITORY:deploymenttutorialimagetag